body {
  font-family: "Roboto";
  font-size: 100%;
}

#status {
  width: 300px;
  word-wrap: break-word;
}
#container {
  display: flex;
  flex-direction:row;
  margin:15px;
  align-items: center;
  justify-content: space-between;
}

#image img{
  width:64px;
  margin-right: 20px;
}

#openOptionsContainer{
  cursor: pointer;
}


#containerOptions{
    padding: 20px;
    margin:auto;
    margin-bottom: 20px;
    margin-top: 0px;
    padding-top: 0px;
}

h5{
    margin-bottom: 20px;
}

@media only screen and (min-width: 993px) {
    #containerOptions{
        width:45%;
    }

}

@media only screen and (max-width: 600px) {
    #containerOptions{
        width:95%;
    }
}


@media only screen and (min-width: 601px) and (max-width: 992px) {
    #containerOptions{
        width:75%;
    }
}


.switch label input[type=checkbox]:checked + .lever {
  background-color: #ffb74d;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #fb8c00;
}

.dropdown-content li>a, .dropdown-content li>span{
  color: #ff9800;
}

[type="checkbox"].filled-in:checked+label:after{
  border: #ff9800;
  background-color: #ff9800;
}
